* {
	box-sizing: border-box;
}

body {
	border: 1px black solid;
	text-align: center;
	max-width: 1000px;
	min-height: 200px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

header {
	/*border: 1px black solid;	*/
}

.company, .supplier {
	display: inline-block;
	width: 49%;
	border: 1px black solid;
	margin-bottom: 20px;
	line-height: 0;
}

table {
	margin: 20px auto;
}

td, th {
	border: 1px solid #000000;
	text-align: left;
	padding: 8px;
}

div {
	margin-top: 15px;
	margin-bottom: 15px;
}

.content-left, .content-right {
	display: inline-block;
	vertical-align: top;
	width: 49%;
	border: 1px black solid;
	margin-bottom: 20px;
	line-height: 0;
}

ul {
	list-style: none;	
}

.rfq-action {
	vertical-align: top;
	border: 1px black solid;
	margin-bottom: 20px;
	line-height: 0;	
}

.create-quote, .list-quote {
	border: 1px black solid;
}

/*
input {
	width: 80%;
}
*/
